@import '../globals';

#board {
  
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  border: solid 1px $borderColor;
  background: $white;
  animation: fadeIn 1s;

  > .boardItem {
    
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: default;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    transition:
      opacity 1s ease-out,
      top .25s ease-out,
      left .25s ease-out;
    animation: fadeIn 1.5s;
    -webkit-tap-highlight-color: transparent;

    &:hover, &:focus, &:active {
      background: none;
    }

    > img {
      display: block;
      width: 100%;
      height: auto;
      text-align: center;
      transition: opacity 1s ease-out;
      user-select: none;
      &.hide {
        transition: opacity 1s ease-out;
        opacity: 0;
      }
    }
    
    &.boardItemActive {
      cursor: pointer;
      z-index: 2;
      &:hover, &:focus, &:active {
        z-index: 3;
      }
    }

  }

}
