@use '../globals' as *;
@use 'sass:color';

.button {
  display: block;
  margin: 15px auto;
  padding: 10px 20px;
  min-width: 160px;
  background: $white;
  border: none;
  cursor: pointer;
  border: solid 1px $borderColor;
  outline: none;
  user-select: none;
  color: $black;
  transition:
    opacity 0.25s ease,
    background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.25s ease;

  &:hover:enabled {
    background-color: color.adjust($white, $lightness: -10%);
    border-color: color.adjust($white, $lightness: -10%);
    color: color.adjust($black, $lightness: 30%);
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
